* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  flex-shrink: 0;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: 0;
  background-color: inherit;
}
