@font-face {
  font-family: 'Cafe24Oneprettynight';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Oneprettynight/Cafe24Oneprettynight.woff2') format('woff2');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  flex-shrink: 0;
  outline: none;
  font-family: 'Cafe24Oneprettynight', sans-serif;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: fill-available;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: 0;
  background-color: inherit;
}
