@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* #app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: 'Cafe24Oneprettynight';
  font-size: 18px;
  color: #000;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
} */

.swiper {
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.swiper-slide button {
  width: 14.438rem;
  height: 3.188rem;
  border-radius: 1.688rem;
  border: 0;
  background-color: #ffe4d0;
  font-size: 18px;
  /* padding: 0.75rem 5.375rem; */
  font-family: 'Cafe24Oneprettynight';
  cursor: pointer;
}

.swiper-slide img {
  display: block;
  width: 14.438rem;
  height: 13.313rem;
  object-fit: cover;
  margin-bottom: 2.188rem;
}

.swiper-pagination {
  top: calc(var(--vh, 1vh) * 75) !important;

  @media (min-height: 1080px) {
    top: calc(var(--vh, 1vh) * 60) !important;
  }
}

.swiper-pagination-bullet {
  background: #d9d9d9 !important;
}
.swiper-pagination-bullet-active {
  background: #939393 !important;
}

.swiper_container {
  width: '100%';
  height: '100vh';
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}
